.sidebar-work {
 position: fixed;
 background-color: white;
 left: 0;
 bottom: 0;
 top: 55px;
 width: 72px;
 padding-top: 5px;
}

.sidebar-work img {
  height: 25px;
  margin-bottom: 4px;
}

.sidebar-work div {
 font-size: 10px;
  font-family: roboto, arial;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 74px;
}

.sidebar-link:hover {
  background-color: rgb(233, 233, 233);
}