.entire-video-preview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 12px;
  transition: grid-template-colums 0.5s;
}

@media (max-width: 720px) {
  .entire-video-preview {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px){
  .entire-video-preview {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .entire-video-preview {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.thumbnail-picture {
  width: 100%;
}

.channel-info {
  display: flex;
  align-items: start;
  margin-top: 7px;
}

.channel-profile-picture {
  width: 35px;
  display: inline-block;
  border-radius: 19px;
  margin-right: 7px;
}

.right-channel-info {
  display: flex;
  flex-direction: column;
  
}
.channel-title {
  font-size: 14px;
  margin-bottom: 11px;
  line-height: 20px;
  font-weight: 500;
  flex: 1;
  text-decoration: none;
  color: black;
}

.video-author, .video-stats {
  font-size: 12px;
  color: grey;
  line-height: 17px;
}